body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;    
    
  }

  main {
    flex: 1 0 auto;
  }
/*******************************/
/*******************************/
/*******************************/
/***********FORM CSS************/
/*******************************/
/*******************************/
  
  form{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  .formrow{
    margin-top: 5%;
  }

  .formcol{
    background: lightgrey;
    padding: 10px !important;
  }

  button{
    width: 250%;
    margin-left: -90%;
  }

/*******************************/
/*******************************/
/*******************************/
/***********Exercise Format*****/
/*******************************/
/*******************************/

.workoutBox{
  
    padding: 10px !important;
    margin-bottom: 15px;
}
.workoutPic{
  width: 250px;
  float: left;
}

.textBox{
  margin-left: 10%;
  width: 50%;
  float: left;
}